USE [master]
GO
/****** Object:  Database [khoa_hoc_tam_linh]    Script Date: 11/26/2025 12:45:35 PM ******/
CREATE DATABASE [khoa_hoc_tam_linh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'khoa_hoc_tam_linh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\khoa_hoc_tam_linh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'khoa_hoc_tam_linh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\khoa_hoc_tam_linh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [khoa_hoc_tam_linh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [khoa_hoc_tam_linh]
GO
/****** Object:  UserDefinedTableType [dbo].[order_item_list_type]    Script Date: 11/26/2025 12:45:35 PM ******/
CREATE TYPE [dbo].[order_item_list_type] AS TABLE(
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[user_wallets]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_wallets](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[balance] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[gender] [char](1) NULL,
	[birth_date] [date] NULL,
	[address_line] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[province] [nvarchar](100) NULL,
	[created_at] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
	[account_type] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_wallets]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View trạng thái ví
CREATE   VIEW [dbo].[vw_wallets]
AS
SELECT
    w.wallet_id,
    w.user_id,
    u.username,
    u.full_name,
    w.balance,
    w.status,
    w.updated_at
FROM dbo.user_wallets w
JOIN dbo.users u ON u.user_id = w.user_id;
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NOT NULL,
	[amount] [int] NOT NULL,
	[transaction_type] [varchar](30) NOT NULL,
	[reference_id] [int] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_wallet_transactions]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View lịch sử giao dịch theo user
CREATE   VIEW [dbo].[vw_wallet_transactions]
AS
SELECT
    t.transaction_id,
    w.user_id,
    u.username,
    t.amount,
    t.transaction_type,
    t.reference_id,
    t.note,
    t.created_at
FROM dbo.wallet_transactions t
JOIN dbo.user_wallets w ON w.wallet_id = t.wallet_id
JOIN dbo.users u ON u.user_id = w.user_id;
GO
/****** Object:  Table [dbo].[product_categories]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_code] [nvarchar](50) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[unit_price] [int] NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[is_made_for_you] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category_map]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category_map](
	[product_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_shop_products]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_shop_products]
AS
SELECT
    ROW_NUMBER() OVER (
        ORDER BY c.category_code, p.product_code
    ) AS display_product_no,

    p.product_id,
    p.product_code,
    p.product_name,
    p.description,
    p.unit_price AS price_linh_te,
    p.stock_quantity,
    p.is_made_for_you,
    p.is_active,
    p.created_at,

    c.category_id,
    c.category_code,
    c.category_name,
    c.description AS category_description,
    c.is_active AS category_is_active
FROM dbo.products p
JOIN dbo.product_category_map m 
    ON m.product_id = p.product_id
JOIN dbo.product_categories c
    ON c.category_id = m.category_id
WHERE p.is_active = 1;
GO
/****** Object:  View [dbo].[vw_categories_with_count]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_categories_with_count]
AS
SELECT
    c.category_id,
    c.category_code,
    c.category_name,
    c.description,
    c.is_active,
    COUNT(m.product_id) AS product_count
FROM dbo.product_categories c
LEFT JOIN dbo.product_category_map m 
    ON m.category_id = c.category_id
GROUP BY 
    c.category_id,
    c.category_code,
    c.category_name,
    c.description,
    c.is_active;
GO
/****** Object:  View [dbo].[vw_products_made_for_you]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_products_made_for_you]
AS
SELECT *
FROM dbo.vw_shop_products
WHERE is_made_for_you = 1;
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_wishlist]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_wishlist]
AS
SELECT
    w.user_id,
    w.product_id,
    w.created_at AS added_at,
    p.product_name,
    p.product_code,
    p.unit_price AS price_linh_te,
    p.is_active,
    c.category_name
FROM dbo.wishlist w
JOIN dbo.products p ON p.product_id = w.product_id
JOIN dbo.product_category_map m ON m.product_id = p.product_id
JOIN dbo.product_categories c ON c.category_id = m.category_id;
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[shipping_address] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[total_amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_orders]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_orders]
AS
SELECT
    o.order_id,
    o.user_id,
    u.full_name,
    o.order_date,
    o.status,
    o.payment_method,
    o.shipping_address,
    o.note,
    o.total_amount
FROM dbo.orders o
JOIN dbo.users u ON u.user_id = o.user_id;
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [int] NOT NULL,
	[line_total]  AS ([quantity]*[unit_price]),
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_order_items]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_order_items]
AS
SELECT
    i.order_item_id,
    i.order_id,
    i.product_id,
    p.product_name,
    p.product_code,
    i.quantity,
    i.unit_price,
    i.line_total
FROM dbo.order_items i
JOIN dbo.products p ON p.product_id = i.product_id;
GO
/****** Object:  View [dbo].[vw_user_profile]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_user_profile]
AS
SELECT
    u.user_id,
    u.username,
    u.full_name,
    u.email,
    u.phone,
    u.gender,
    u.birth_date,
    u.address_line,
    u.city,
    u.province,
    u.created_at,
    u.status,
    u.account_type
FROM dbo.users u;
GO
/****** Object:  View [dbo].[vw_products_price_range]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_products_price_range]
AS
SELECT
    product_id,
    product_name,
    price_linh_te,
    category_id,
    category_code,
    category_name
FROM dbo.vw_shop_products;
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'Pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF_Orders_TotalAmount]  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[product_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_made_for_you]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[user_wallets] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user_wallets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [account_type]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[product_category_map]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[product_categories] ([category_id])
GO
ALTER TABLE [dbo].[product_category_map]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[user_wallets]  WITH CHECK ADD  CONSTRAINT [fk_wallet_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_wallets] CHECK CONSTRAINT [fk_wallet_user]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [fk_wallet_tx_wallet] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[user_wallets] ([wallet_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [fk_wallet_tx_wallet]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_add_wishlist]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thêm vào wishlist
CREATE   PROCEDURE [dbo].[sp_add_wishlist]
(
    @user_id    INT,
    @product_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 
        FROM dbo.wishlist 
        WHERE user_id = @user_id 
          AND product_id = @product_id
    )
    BEGIN
        INSERT INTO dbo.wishlist (user_id, product_id, created_at)
        VALUES (@user_id, @product_id, GETDATE());
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_order]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_create_order]
(
    @user_id          INT,
    @payment_method   NVARCHAR(50),
    @shipping_address NVARCHAR(255),
    @items_json       NVARCHAR(MAX)   -- JSON: [{ "product_id": 1, "quantity": 2 }, ...]
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;

    -- 1) Tạo đơn
    INSERT INTO dbo.orders (
        user_id,
        order_date,
        status,
        payment_method,
        shipping_address,
        note,
        total_amount
    )
    VALUES (
        @user_id,
        GETDATE(),
        N'PENDING',
        @payment_method,
        @shipping_address,
        NULL,
        0
    );

    DECLARE @order_id INT = SCOPE_IDENTITY();

    -- 2) Thêm từng dòng sản phẩm
    INSERT INTO dbo.order_items (order_id, product_id, quantity, unit_price)
    SELECT
        @order_id,
        CAST(JSON_VALUE(j.value, '$.product_id') AS INT),
        CAST(JSON_VALUE(j.value, '$.quantity')   AS INT),
        p.unit_price
    FROM OPENJSON(@items_json) AS j
    JOIN dbo.products p 
        ON p.product_id = CAST(JSON_VALUE(j.value, '$.product_id') AS INT);

    -- 3) Cập nhật tổng tiền đơn
    UPDATE o
    SET o.total_amount = x.total_amount
    FROM dbo.orders o
    CROSS APPLY (
        SELECT SUM(line_total) AS total_amount
        FROM dbo.order_items
        WHERE order_id = @order_id
    ) AS x
    WHERE o.order_id = @order_id;

    COMMIT TRAN;

    -- 4) Trả về thông tin đơn mới
    SELECT 
        @order_id AS new_order_id,
        (SELECT total_amount FROM dbo.orders WHERE order_id = @order_id) AS total_amount;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_order_with_wallet]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_create_order_with_wallet]
(
    @user_id          INT,
    @items            dbo.order_item_list_type READONLY,
    @shipping_address NVARCHAR(255) = NULL,
    @note             NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    -- 1. Kiểm tra giỏ hàng có dữ liệu
    IF NOT EXISTS (SELECT 1 FROM @items)
    BEGIN
        RAISERROR(N'Order items list is empty.', 16, 1);
        RETURN;
    END;

    BEGIN TRAN;

    DECLARE 
        @wallet_id INT,
        @current_balance INT,
        @order_total INT,
        @order_id INT;

    ----------------------------------------------------
    -- 2. Lấy ví của user + khóa dòng để tránh race
    ----------------------------------------------------
    SELECT 
        @wallet_id = w.wallet_id,
        @current_balance = w.balance
    FROM dbo.user_wallets w WITH (UPDLOCK, ROWLOCK)
    WHERE w.user_id = @user_id AND w.status = 1;

    IF @wallet_id IS NULL
    BEGIN
        RAISERROR(N'Wallet not found or locked.', 16, 1);
        ROLLBACK TRAN;
        RETURN;
    END;

    ----------------------------------------------------
    -- 3. Tính tổng tiền đơn hàng theo giá sản phẩm hiện tại
    ----------------------------------------------------
    SELECT 
        @order_total = SUM(p.unit_price * i.quantity)
    FROM @items i
    JOIN dbo.products p ON p.product_id = i.product_id;

    IF @order_total IS NULL
    BEGIN
        RAISERROR(N'One or more products not found.', 16, 1);
        ROLLBACK TRAN;
        RETURN;
    END;

    ----------------------------------------------------
    -- 4. Kiểm tra số dư ví
    ----------------------------------------------------
    IF @current_balance < @order_total
    BEGIN
        RAISERROR(N'Insufficient balance.', 16, 1);
        ROLLBACK TRAN;
        RETURN;
    END;

    ----------------------------------------------------
    -- 5. Tạo đơn hàng (orders)
    ----------------------------------------------------
    INSERT INTO dbo.orders
        (user_id, order_date, status, payment_method, shipping_address, note, total_amount)
    VALUES
        (@user_id, GETDATE(), N'PAID', N'WALLET', @shipping_address, @note, @order_total);

    SET @order_id = SCOPE_IDENTITY();

    ----------------------------------------------------
    -- 6. Tạo chi tiết đơn hàng (order_items)
    --    KHÔNG insert line_total vì là computed column
    ----------------------------------------------------
    INSERT INTO dbo.order_items
        (order_id, product_id, quantity, unit_price)
    SELECT
        @order_id,
        i.product_id,
        i.quantity,
        p.unit_price
    FROM @items i
    JOIN dbo.products p ON p.product_id = i.product_id;

    ----------------------------------------------------
    -- 7. Trừ ví
    ----------------------------------------------------
    UPDATE dbo.user_wallets
    SET balance = balance - @order_total,
        updated_at = GETDATE()
    WHERE wallet_id = @wallet_id;

    ----------------------------------------------------
    -- 8. Log giao dịch ví
    ----------------------------------------------------
    INSERT INTO dbo.wallet_transactions
        (wallet_id, amount, transaction_type, reference_id, note)
    VALUES
        (@wallet_id, -@order_total, 'order', @order_id, @note);

    ----------------------------------------------------
    -- 9. Commit và trả kết quả
    ----------------------------------------------------
    COMMIT TRAN;

    SELECT 
        @order_id      AS order_id,
        @order_total   AS order_total,
        (SELECT balance FROM dbo.user_wallets WHERE wallet_id = @wallet_id) AS wallet_balance_after;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @UserID          INT,
    @PaymentMethod   NVARCHAR(50),
    @ShippingAddress NVARCHAR(255),
    @Note            NVARCHAR(255),
    @ProductID       INT,
    @Quantity        INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OrderID   INT;
    DECLARE @UnitPrice INT;

    -- 1. Lấy đơn giá sản phẩm hiện tại
    SELECT @UnitPrice = UnitPrice
    FROM Products
    WHERE ProductID = @ProductID;

    IF @UnitPrice IS NULL
    BEGIN
        RAISERROR (N'Sản phẩm không tồn tại.', 16, 1);
        RETURN;
    END

    -- 2. Tạo đơn hàng mới (tạm TotalAmount = 0)
    INSERT INTO Orders (UserID, PaymentMethod, ShippingAddress, Note, TotalAmount)
    VALUES (@UserID, @PaymentMethod, @ShippingAddress, @Note, 0);

    SET @OrderID = SCOPE_IDENTITY();

    -- 3. Thêm dòng sản phẩm vào OrderItems
    INSERT INTO OrderItems (OrderID, ProductID, Quantity, UnitPrice)
    VALUES (@OrderID, @ProductID, @Quantity, @UnitPrice);

    -- 4. Cập nhật lại tổng tiền cho đơn hàng
    UPDATE Orders
    SET TotalAmount = (
        SELECT SUM(LineTotal)
        FROM OrderItems
        WHERE OrderID = @OrderID
    )
    WHERE OrderID = @OrderID;

    -- 5. Trả về ID đơn hàng mới tạo (dùng cho phía ứng dụng nếu cần)
    SELECT @OrderID AS NewOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_order_detail]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_get_order_detail]
(
    @order_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.order_id,
        o.user_id,
        o.order_date,
        o.status,
        o.payment_method,
        o.shipping_address,
        o.total_amount,
        oi.order_item_id,
        oi.product_id,
        oi.quantity,
        oi.unit_price,
        oi.line_total,
        p.product_name,
        p.product_code
    FROM dbo.orders o
    JOIN dbo.order_items oi ON oi.order_id = o.order_id
    JOIN dbo.products     p ON p.product_id = oi.product_id
    WHERE o.order_id = @order_id
    ORDER BY oi.order_item_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_orders_by_user]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_get_orders_by_user]
(
    @user_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.order_id,
        o.order_date,
        o.status,
        o.total_amount,
        oi.order_item_id,
        oi.product_id,
        oi.quantity,
        oi.unit_price,
        oi.line_total,
        p.product_name,
        p.product_code
    FROM dbo.orders o
    JOIN dbo.order_items oi ON oi.order_id = o.order_id
    JOIN dbo.products     p ON p.product_id = oi.product_id
    WHERE o.user_id = @user_id
    ORDER BY o.order_date DESC, o.order_id DESC, oi.order_item_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_get_wishlist_by_user]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lấy danh sách wishlist theo user
CREATE   PROCEDURE [dbo].[sp_get_wishlist_by_user]
(
    @user_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        w.user_id,
        w.product_id,
        w.created_at,
        p.product_name,
        p.product_code,
        p.unit_price AS price_linh_te
    FROM dbo.wishlist w
    JOIN dbo.products p ON p.product_id = w.product_id
    WHERE w.user_id = @user_id
    ORDER BY w.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_remove_wishlist]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xoá khỏi wishlist
CREATE   PROCEDURE [dbo].[sp_remove_wishlist]
(
    @user_id    INT,
    @product_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.wishlist
    WHERE user_id = @user_id
      AND product_id = @product_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_wallet_create_for_user]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_wallet_create_for_user]
(
    @user_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.user_wallets WHERE user_id = @user_id
    )
    BEGIN
        INSERT INTO dbo.user_wallets (user_id, balance, status, updated_at)
        VALUES (@user_id, 0, 1, GETDATE());
    END;

    SELECT *
    FROM dbo.user_wallets
    WHERE user_id = @user_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_wallet_credit]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_wallet_credit]
(
    @user_id         INT,
    @amount          INT,
    @transaction_type VARCHAR(30),
    @reference_id    INT = NULL,
    @note            NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF (@amount <= 0)
    BEGIN
        RAISERROR(N'Amount must be positive.', 16, 1);
        RETURN;
    END;

    BEGIN TRAN;

    DECLARE @wallet_id INT;

    -- Khóa dòng ví để tránh race condition
    SELECT @wallet_id = w.wallet_id
    FROM dbo.user_wallets w WITH (UPDLOCK, ROWLOCK)
    WHERE w.user_id = @user_id AND w.status = 1;

    IF @wallet_id IS NULL
    BEGIN
        RAISERROR(N'Wallet not found or locked.', 16, 1);
        ROLLBACK TRAN;
        RETURN;
    END;

    UPDATE dbo.user_wallets
    SET balance = balance + @amount,
        updated_at = GETDATE()
    WHERE wallet_id = @wallet_id;

    INSERT INTO dbo.wallet_transactions
        (wallet_id, amount, transaction_type, reference_id, note)
    VALUES
        (@wallet_id, @amount, @transaction_type, @reference_id, @note);

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_wallet_debit]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_wallet_debit]
(
    @user_id          INT,
    @amount           INT,
    @transaction_type VARCHAR(30),
    @reference_id     INT = NULL,
    @note             NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF (@amount <= 0)
    BEGIN
        RAISERROR(N'Amount must be positive.', 16, 1);
        RETURN;
    END;

    BEGIN TRAN;

    DECLARE @wallet_id INT;
    DECLARE @current_balance INT;

    -- Khóa dòng ví
    SELECT 
        @wallet_id = w.wallet_id,
        @current_balance = w.balance
    FROM dbo.user_wallets w WITH (UPDLOCK, ROWLOCK)
    WHERE w.user_id = @user_id AND w.status = 1;

    IF @wallet_id IS NULL
    BEGIN
        RAISERROR(N'Wallet not found or locked.', 16, 1);
        ROLLBACK TRAN;
        RETURN;
    END;

    IF @current_balance < @amount
    BEGIN
        RAISERROR(N'Insufficient balance.', 16, 1);
        ROLLBACK TRAN;
        RETURN;
    END;

    UPDATE dbo.user_wallets
    SET balance = balance - @amount,
        updated_at = GETDATE()
    WHERE wallet_id = @wallet_id;

    INSERT INTO dbo.wallet_transactions
        (wallet_id, amount, transaction_type, reference_id, note)
    VALUES
        (@wallet_id, -@amount, @transaction_type, @reference_id, @note);

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_wallet_get_balance]    Script Date: 11/26/2025 12:45:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_wallet_get_balance]
(
    @user_id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        w.wallet_id,
        w.user_id,
        w.balance,
        w.status,
        w.updated_at
    FROM dbo.user_wallets w
    WHERE w.user_id = @user_id;
END;
GO
USE [master]
GO
